@import url(https://fonts.googleapis.com/css?family=Roboto:300,500);

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
