$font-color: #363636;
@import url(https://fonts.googleapis.com/css?family=Roboto:300,500);

@font-face {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: $font-color;
    background-color: #fff;
}

.app-header {
    h2 {
        margin: 0;
        font-size: 30px;
    }

    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 1rem 1rem;
    border-bottom: 1px solid $font-color;
}

.app-main {
    display: flex;
    flex-direction: column;
}

.app-list {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.filter-box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #ddd;
    margin-right: 1rem;
    border-radius: 5px;

    >p {
        margin: 0;
        padding-bottom: .5rem;
        border-bottom: 1px solid $font-color;
    }
}

.transaction-list {
    display: flex;
    flex-grow: 1;
}

.transaction-details {
    padding: 2rem
}

.data-grid {
    height: 800px;
    width: 100%;
}
